
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###




#  profil : 
Nom: John Doe
Adresse Email: johndoe@example.com
azerty

Nom: Jane Smith
Adresse Email: janesmith@example.com
azerty

Nom: Michael Johnson
Adresse Email: michaeljohnson@example.com
azerty

Nom: Emily Davis
Adresse Email: emilydavis@example.com
azerty

Nom: David Brown
Adresse Email: davidbrown@example.com
azerty

Nom: Sarah White
Adresse Email: sarahwhite@example.com
azerty

Nom: Matthew Wilson
Adresse Email: matthewwilson@example.com
azerty

Nom: Laura Martinez
Adresse Email: lauramartinez@example.com
azerty

Nom: Christopher Lee
Adresse Email: christopherlee@example.com
azerty

Nom: Amanda Harris
Adresse Email: amandaharris@example.com
azerty

Nom: mister v
Adresse Email: mister.v@gmail.com
azerty

Nom : zidane zinedine 
Adresse Email: zinedine@gmail.com
azerty

Nom :  Shakur   Tupac 
Adresse Email:  TupacShakur@gmail.com
azerty

Nom : Notorious B.I.G
Adresse Email:   Notorious@gmail.com
azerty

Nom : Ruiz  Rebecca
Adresse Email:   rebecca.ruiz@example.com
azerty

Nom : 
Adresse Email : samuel.may@example.com
azerty

Nom : hawkins  cathy
Adresse Email : cathy.hawkins@example.com
azerty

Nom : candice  harris
Adresse Email : candice.harris@example.com
azerty

Nom : isaac hernandez
Adresse Email : isaac.hernandez@example.com
azerty

Nom : gilbert  edna
Adresse Email : edna.gilbert@example.com
azerty

Nom : fabien barthez
Adresse Email : barthez@gmail.com
azerty


Nom : elon musk
Adresse Email : elon.musk@gmail.com
azerty

Nom : Mike Tyson
Adresse Email : mike.tyson@gmail.com
azerty

Nom : Tyson Fury
Adresse Email : tyson.fury@gmail.com
azerty

Nom : Ngannou  Francis
Adresse Email :  francis.ngannou@gmail.com
azerty

Nom : Cedric  Doumbe
Adresse Email : cedric.doumbe@gmail.com
azerty

Nom : Conor McGregor
Adresse Email : conor.mcgregor@gmail.com 
azerty



lillie.obrien@example.com
azerty