
<div class="right">
    <div class="right-bar">
        <a href="{{path('logout')}}" class="btn btn-primary">Deconnexion</a>
    </div>
    <div class="search-bar">
    <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Rechercher...">
    </div>
    </div>
</div>