<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        {% apply inline_css(source('@email_css/email.css')) %}
        <h1>Social World</h1>
        <h2>Bonjour {{ username }},</h2>
        <p>Vous avez fait une demande de reinitialisation de mot de passe.</p>
        <p>Pour finaliser votre demande, veuillez cliquer sur le lien ci-dessous.
</p>
        <a href="{{ url('reset-password', {token: token}) }}">Changez mon mot de passe</a>
        {% endapply %}
    </body>
</html>