<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        {% apply inline_css(source('@email_css/email.css')) %}
        <h1>Social World</h1>
        <h2>Bonjour {{ username }},</h2>
        <p>Votre mot de passe vien d'etre modifier</p>
        <p>Si vous n'etes pas a l'origine de cette modification</p>
    
        
        {% endapply %}
    </body>
</html>