// ---------- left bar ----------- //
.left-bar {
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  background-color: $white;
  @extend.border-body;
  .title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid $gray;
    background-color: $gray-light;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    h2 {
     margin: 2vh 0;
     width: 50%;
     color: $white;
     text-shadow: 
                        -1px -1px 0 black,  
                         0.5px -1px 0 black,
                        -1px 1px 0 black,
                         0.5px 1px 0 black;
     display: flex;
     flex-direction: row;
     justify-content: center;
   }
   i{
    color: $gray;
   }
   .has-notifications {
    color: $primary;
    animation: bell-move 0.5s infinite; 
}

@keyframes bell-move {
  0%, 100% {
      transform:  rotate(-40deg); 
  }
  50% {
      transform:  rotate(40deg); 
  }
}
  }
  .notification {
    width: 100%;
    img{
      margin-top: 3vh;
      width: 100%;
      height: 300px;
    }
    .scroll-add {
      width: 100%;
      overflow-y: scroll;
      h3 {
        font-family: $lobster;
        letter-spacing: 2px;
        color: $primary;
        text-transform: capitalize;

        text-shadow: 
                        -1px -1px 0 black,  
                         0.5px -1px 0 black,
                        -1px 1px 0 black,
                         0.5px 1px 0 black;
        margin: 2VH 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      /* Préfixes WebKit pour la propriété overflow-y */
    &::-webkit-scrollbar {
      // largeur de la barre
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      // barre de defilement
      background-color: $gray;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $primary;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      //arriére de la barre de defilement
      background-color: $gray-light;
      border-radius: 5px;
    }

      .addFriends {
        width: 95%;
        display: flex;
        margin: 1vh 1vh;
        flex-direction: row;
        justify-content: center;
        border: 3px solid $gray;
        background-color: $gray-light;
        border-radius: 20px;
        & img {
          border-radius: 50%;
          width: 70px;
          height: 70px;
        }

        .friendsList {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
        }

        .info-friendship {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          img {
            margin: 2vh 0;
            align-items: center;
            border-radius: 50%;
            border: 1px solid $primary;
          }
        }
        .info-User {
          width: 70%;
          display: flex;
          flex-direction: column;
          // margin: 1vh 0;
          & h3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
          .btn-friendship {
            width: 100%;
            height: 4vh;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            .add-primary {
              color: $primary;
            }
            .refused-gray {
              color: $gray;
            }
            .blocked-red {
              color: $danger;
            }
          }
        }
      }
    }
  }
}

// ----------  right  bar  -------- //
.right {
  width: 20%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  background-color: $white;
  @extend.border-body;
  .title {
    // width: 80%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px solid $gray;
    background-color: $gray-light;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    h2{
      margin: 2vh 0;
     width: 100%;
     color: $white;
     text-shadow: 
                        -1px -1px 0 black,  
                         0.5px -1px 0 black,
                        -1px 1px 0 black,
                         0.5px 1px 0 black;
     display: flex;
     flex-direction: row;
     justify-content: center;
    }
    i{
      color: $gray;
      margin-right:10px ;
      &:hover{
        color: $primary;
        cursor: pointer;
      }
    }
  }
  .scroll-add {
    width: 100%;
    height: 60vh;
    margin: 1vh 0;
    overflow-y: scroll;

    /* Préfixes WebKit pour la propriété overflow-y */
    &::-webkit-scrollbar {
      // largeur de la barre
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      // barre de defilement
      background-color: $gray;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $primary;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      //arriére de la barre de defilement
      background-color: $gray-light;
      border-radius: 5px;
    }
    .search-bar{
      width: 100%;
      height: 3vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin:1vh 0;
      input{
        width: 80%;
        height: 4vh;
        font-size: large;
        padding: 10px;
        border-radius: 15px;
        border: 4px solid $primary;
        &::placeholder{
          margin-left: 10px;
        }
      }
    }

    .add-freinds {
      width: 90%;
      height: 58vh;
      margin-left: 2vh;
      .row-user {
        width: 100%;
        display: flex;
        flex-direction: row;

        align-items: center;
        margin: 2vh 0;
        border: 3px solid $gray;
        background-color: $gray-light;
        border-radius: 25px;
        img {
          width: 20%;
          width: 50px;
          height: 50px;
          margin: 0.5vh 0;
          border-radius: 50%;
          margin-left: 1rem;
        }
        .row {
          width: 60%;
          display: flex;
          flex-direction: row;
        }
        .addUserIcone {
          width: 42px;
          height: 42px;
          display: flex;
          align-items: center;
          border: 3px solid $primary;
          background-color: $gray-light;
          color: $white;
          border-radius: 50%;
          padding: 0.5vh;
          margin-right: 1rem;
          i{
            color: $gray;
          
          }
          i:hover{
              color: $primary;
          }
        }
      }
    }
  }
}

// ---- friendslist  //
.right-friends {
  width: 20%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  background-color: $white;
  @extend.border-body;
  .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px solid $gray;
  background-color: $gray-light;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  i{
    color: $gray;
    margin-left:10px ;
    &:hover{
      color: $primary;
      cursor: pointer;
    }
  }
  h2{
    // width: 50%;
    margin: 2vh 0;
    width: 100%;
    color: $white;
    text-shadow: 
              -1px -1px 0 black,  
              0.5px -1px 0 black,
              -1px 1px 0 black,
              0.5px 1px 0 black;
   display: flex;
   flex-direction: row;
   justify-content: center;
  }
  
  }
  .notification {
    width: 100%;
    margin: 1vh 0;
    & h2 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .scroll-add {
      width: 100%;
      height: 60vh;
      overflow-y: scroll;

      /* Préfixes WebKit pour la propriété overflow-y */
      &::-webkit-scrollbar {
        // largeur de la barre
        width: 10px;
      }
      &::-webkit-scrollbar-thumb {
        // barre de defilement
        background-color: $gray;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background-color: $primary;
        border-radius: 5px;
      }

      &::-webkit-scrollbar-track {
        //arriére de la barre de defilement
        background-color: $gray-light;
        border-radius: 5px;
      }

      .addFriends {
        
          width: 90%;
          display: flex;
          margin: 1vh 5%;
          flex-direction:row;
          
          align-items: center;
          border: 3px solid $gray;
          background-color: $gray-light;
          border-radius: 20px;
          .column{
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .row{
             margin-top: 1vh;
              .refused-gray {
                color: $gray;
                &:hover{
                  color: $primary;

                }
              }
              .blocked-red {
                color: $gray;
                &:hover{
                   color: $danger;
                }
              }
            }
          }
          
          & img {
            margin: 0.5vh 0.5rem;
            border-radius: 50%;
            width: 70px;
            height: 70px;
          }
          h3{
            margin: 0 0.5rem;
          }
        }
      }
    }
  }

