.post {
  width: 100%;
  height: 11vh;
  @extend.flex-column;
  @extend.border-body;
  background-color: $white;
 
  .post-content {
    width: 100%;
    height: 11vh;
    display: flex;
    flex-direction: row;
    .img-post {
      width: 15%;
      height: 11vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.3rem;

      .avatar-post {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        box-shadow: $box-content-light;
        top: 50px;
      }
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: row;
       input {
        width: 33rem;
        height: 10vh;
        font-size: x-large;
        font-family: $font-family;
        border: none;

        &:focus {
          border: none;
          outline: none;
        }
      }
      .envoyer-post {
      width: 15%;
      margin: 1vh ;
      // padding: 5vh;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      i{
        margin: 2vh 0;
        color: $gray;
        cursor: pointer;
        &:hover{
        color: $primary;


        }
      }
      }
    }
  }
}

/* -------- post-show -------- */
.scroll {
  width: 100%;
  height: 70vh;
  margin: 1rem 0;
  // @extend.border-body;
  // border-top-right-radius:6px ;
  // border-bottom-right-radius: 6px;
  background-color: transparent;
  overflow-y: scroll;

  

  .post-show {
    width: 99%;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: $white;
    margin: 1vh 0;
    font-family: $font-family;
    text-align: justify;

    .img-avatar {
      width: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        margin-top: 1.5rem;
        margin-left: 1rem;
        box-shadow: $box-content-light;
        border: 2px solid $primary;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        // padding: 10.5rem;
      }
    }

    .post-show-content {
      width: 80rem;
    }

    .post-info-user {
      margin: 1vh 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      h3{
        margin-top: 1vh;

      }
      
      small {
        margin-top: 1vh;
        margin-left: 1rem;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }

    .post-user-content {
      margin: 2vh 2rem;
      .postimage{
        margin: 1vh;
        img{
          max-width: 90%;
          max-height: 90%;
          // border: 2px solid black;
          border-radius: 20px;
        }
       

      }
    }

    .post-user-icone {
      width: 40%;
      margin: 1vh;
      margin-left: 13rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .row-icone {
        width: 100%;
        display: flex;
        flex-direction: row;
        & i {
          margin: 0 1rem;
        }
        .comment-icone {
          & i {
            color: $primary;
          }
        }
      }
    }
  }
}
