

$primary: rgb(0,145,250);
$danger:rgb(198, 1, 1);
$size: x-large;
$color-primary: white;
$gray:#818284;
$borde-radius: 5px;
$box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
$font-family: 'Open Sans', sans-serif;