                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
                       /*%%%%%%%%%%%%%%%__%%%%%%%%%%%%%%%%%%%%%%%%%*/
                      /*%%%%%%%%%%%%%%%|__|%%____%%%%%%%%%%%%%%%%%*/
                     /*%%%%%%%%%%%%%%%%|  | / __ \%%%%%%%%%%%%%%%*/
                    /*%%%%%%%%%%%%%%%%%|  || (__) |%%%%%%%%%%%%%*/
                   /*%%%%%%%%%%%%%%/\%%|  | \____/%%%%%%%%%%%%%*/
                  /*%%%%%%%%%%%%%%%\______|%%%%%%%%%%%%%%%%%%%*/
                 /* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/


@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import './variables';
@import './reset';
@import './left-right';
@import './body';
@import './post';
@import './comment';
@import './signup';
@import './connexion';
@import './user';


body{
    width: 100%;
    display: flex ;
    flex-direction: row;
    font-family: $font-family;
    box-sizing: border-box;
    
    a {
        color: inherit;
        text-decoration: none;
       
    }
}
.row{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  
}

/* ----------- button primary ------------ */

.btn {
    border-radius: $borde-radius;
    padding: 10px 20px;
    border: none;
    box-shadow: $box-shadow;
    cursor: pointer;
  
    &.btn-small {
      padding: 5px 15px;
    }
  
    &.btn-primary {
      background-color: $primary;
      color: $color-primary;
      font-weight: 600;
  
      &:hover {
        opacity: 0.8;
        transition: opacity 0.4s;
      }
  
      &-stroke {
        border: 1px solid $primary;
        color: $primary;
        font-weight: 600;
        background-color: $color-primary;
  
        &:hover {
          background-color: $primary;
          color: $color-primary;
        }
      }
    }
  }

  


